@import "utilities";
@import "rouge";
@import "archive";

header.site-header {
  border: none;
  background-color: #3c3c3c;

  .wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .site-title {
    img {
      height: 40px;
    }
  }

  .site-nav {
    .page-link {
      vertical-align: bottom;
      color: #9e9e9e;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.page-content {
  img, video {
    @include shadow-box;
  }
}

.post-list {
  > li {
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;

    ul {
      margin-bottom: 20px;
      list-style-type: disc;
    }
  }
}

.post-content {
  h2, h3 {
    margin-top: 40px;
  }
}

.highlighter-rouge, .gist {
  margin: 30px 0;
}

h1, .post-content h1, h1.post-title {
  font-size: 2.2em;
}

h2, .post-content h2 {
  font-size: 1.5em;
}

h3, .post-content h3 {
  font-size: 1.3em;
}

p {
  margin-bottom: 20px;

  ul:not(.post-list) > li &, ol:not(.post-list) > li & {
    margin-bottom: 5px;
  }
}

body {
  margin: 0 auto;
  max-width: $content-width;
  background-color: #252525;
}

main {
  background-color: #f8f8f8;
}

time {
  text-transform: uppercase;
}
