@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  border-radius: $border-radius;
  box-shadow: $shadow;
  box-sizing: border-box;
  border: $border;
}
